.information
  .countdown
    .time
      background: $background-darker
      display: inline-block
      margin-top: 10px
      width: 33%
      .value
        font-family: 'Lato', sans-serif
        font-size: 4em
        line-height: 1.25em
      .label
        margin: 0 auto
        width: 80%
        font-size: 1.2em
        padding: 0.5em 0
        border-top: 3px double $background-color
