.recommendations
  = simple_format("We highly recommend using iCar, a very cheap Krakow cab company to come from the airport and move about the city when not using public transportation. The number for iCar is +48 12 65 355 55.")
  .divider
