header
  .monogram
    width: 100%
    max-width: 500px

  nav
    font-size: 1.2em
    text-transform: uppercase

    .link
      display: inline-block
      a
        margin: 10px
        border: 0

    .locales
      float: right
      transform: scale(1.4)
      a
        border: 0
