header
  nav
    .item
      text-transform: uppercase
      display: inline-block
    .item:not(.last)
      padding: 0 20px 0 10px
      background: url('seperator.png') no-repeat scroll right center transparent
