html, body
  margin: 0
  padding: 0
  height: 100%
  background: $background-color

  a
    text-decoration: none
    color: $font-color
    margin: 5px
  a:not(.no-link)
    border-bottom: 1px solid $link-color
  a:hover:not(.no-link)
    color: $link-color
    border-color: $link-color

  .container
    margin: 0 auto
    width: 80%
    max-width: 1080px
    padding: 1em 2em
    text-align: center

  .divider
    border-bottom: 3px double $link-color
    margin: 2em 0
    clear: both

  .separator
    padding-right: 15px
    background: image-url('separator.png') no-repeat scroll right center transparent

  .featherlight .featherlight-content
    min-width: 20%
