html, body
  margin: 0
  padding: 0
  height: 100%
  background: $background-color

  a
    color: $font-color
    text-decoration: none
  a:hover
    color: $link-color

  .clearfix
    clear: both

  .container
    margin: 0 auto
    width: 60%
    padding: 1em 2em
    text-align: center
