html, body
  margin: 0
  padding: 0
  height: 100%
  background: $background-color

  a
    color: $font-color
    text-decoration: none
    padding: 10px
    border-radius: 10px
  a:hover:not(.no-link)
    background-color: $link-color

  .clearfix
    clear: both

  .container
    margin: 0 auto
    width: 60%
    padding: 1em 2em
    text-align: center

  .divider
    border-bottom: 5px double $link-color
    margin: 2em 0
    clear: both

  .separator
    padding: 0 20px 0 10px
    background: url('seperator.png') no-repeat scroll right center transparent
