@import url(http://fonts.googleapis.com/css?family=Ovo)

html, body
  color: $font-color
  font-family: 'Ovo', serif
  font-size: 1em
  font-weight: normal
  line-height: 1.6
  -webkit-font-smoothing: antialiased
