%footer
  .footer-divider

  %span.separator= "Phillip and Basia's Wedding Information"
  %span.link= link_to 'Phillip Boksz', 'http://www.phillipboksz.com'
  %span.copyright= " © #{Date.today.year}"
