- new_locale = if locale.nil? || locale == 'en' then 'pl' else nil end
- if request.method == 'GET'
  = link_to url_for params.to_unsafe_h.merge(locale: new_locale) do
    %img{ class: "flag flag-#{new_locale || 'en'}" }
- else
  %img{ class: "flag flag-#{new_locale || 'en'}" }
